@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap');


button{
  border: 2px solid #fff;
  border-radius: 25px;
  font-weight: bold;
  padding: 10px 15px;
  color: #fff;
  transform: translate(5px,5px);
  background-color: #FF10F0;
  margin: 20px;
  /* visibility: hidden; */
}
button:active{
  border: 2px solid #FF10F0;
  border-radius: 25px;
  font-weight: bold;
  padding: 10px 15px;
  color: #FF10F0;
  transform: translate(5px,5px);
  background-color: #fff;
  margin: 20px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  transform: translateY(-13px);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #FF10F0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #FF10F0;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.mode {
    position: absolute;
    padding: 4px;
    font-size: 10px;
    left: 50vw;
    font-family: 'Zilla Slab Highlight', cursive;
    color: black;
}
